<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <div class="jumbotron">
        <form action="/creategroup" align="right">
            <button>Create Group</button>
        </form>
        <% for (var i=0; i < locals.groups.length; i++) { %>
            <a href="/group/<%= locals.groups[i].GroupName %>"><h4><%= locals.groups[i].GroupName %></h4></a>
        <% } %>
    </div>
</main>

</body>
</html>