<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <div class="jumbotron">
        <% if (locals.messageH) { %>
            <h2><%= messageH %></h2>
        <% } %>
        <% if (locals.messageP) { %>
            <p><%= messageP %></p>
        <% } %>
    </div>
</main>

</body>
</html>