<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: 'placeholder'}); %>
</header>

<main>
    <div class="jumbotron">
        Test file
    </div>
</main>

</body>
</html>