<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <div class="jumbotron">
        <h2><%= mail.Subject %></h2>
        <hr>
        <p><%= mail.BodyText %></p>
        <p>-<%= mail.Sender %></p>
    </div>
</main>

</body>
</html>